.link-label {
	display: inline-block;
	padding: 0.2em 0.6em;
	margin-right: 0.5em;
	font-size: 0.8em;
	font-weight: bold;
	color: white;
	border-radius: 9999px;
	text-transform: uppercase;

}

.link-label--Open {
	background-color: #014895;
	border-radius: 9999px;
	padding: 5px;
	color: rgb(225, 214, 214);

	&:is(.dark *) {
		color: white;
	}
}

.link-label--Accepted {
	background-color: #1e7d34;
	border-radius: 9999px;
	padding: 5px;
	color: rgb(225, 214, 214);

	&:is(.dark *) {
		color: white;
	}
}

.link-label--Declined {
	background-color: #992f39;
	border-radius: 9999px;
	padding: 5px;
	color: rgb(225, 214, 214);

	&:is(.dark *) {
		color: white;
	}
}

.link-label--Duplicated {
	background-color: #757c58;
	border-radius: 9999px;
	padding: 5px;
	color: rgb(225, 214, 214);

	&:is(.dark *) {
		color: white;
	}
}

.link-label--default {
	background-color: #6c757d;
	border-radius: 9999px;
	padding: 5px;
}

.rounded-box {
	border-radius: 12px;
	border: 2px solid #283854;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;

	margin-bottom: 10px;
}